// Specific CSS for your home-page
.banner {
  /* The image used */
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://images.unsplash.com/photo-1543265832-56c79a5caf97?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2630&q=80');
  // background-image: url(https://images.unsplash.com/photo-1543265832-56c79a5caf97?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2630&q=80);
  height: 250;
  background-size: cover;
  background-position: center;
}
