
<%# Bottom Navbar %>

<nav class="navigation-bar fixed-bottom">
    <ul class="list-items mt-4">

      <li class="item active">
          <%= link_to cars_path, class: "navbar-link" do %>
          <i class="fa-solid fa-car"></i>
          <span class="navbar-text">My Vehicles</span>
          <% end %>

      </li>

      <li class="item active">
        <%= link_to garages_path, class: "navbar-link" do %>
        <i class="fa-solid fa-map"> </i>
        <span class="navbar-text">Find Garage</span>
        <% end %>
      </li>

      <li class="item active">
        <%= link_to chatroom_path(1), class: "navbar-link" do %>
        <i class="fa-solid fa-comment color: white;"> </i>
        <span class="navbar-text">Chat</span>
        <% end %>
      </li>
    </ul>
</nav>
