<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%# NavBar %>
<%# Header %>
<h1>Servomoate</h1>
<h2> Helping locals increas thier car longevitity </h2>
<p>Find the best local mechanics and maintain your service history all in one place</p>
<img src="assets/images/background-image-banner.jpg" alt="this is a photo of an mechanic">

<%# Main content %>
<%# Footer %>
