<%# -------------------------!TAILWIND HOMEPAGE--------------------------- %>
<main class="pb-24">
  <div class="relative px-0 lg:px-8">
    <div class="banner py-32">
      <div class="flex flex-col mb-4 justify-center items-center">
        <div class="py-2">
          <h1 class="text-white text-4xl font-bold tracking-tight sm:text-center sm:text-6xl">ServoMate</h1>
        </div>
        <% if !signed_in?%>
          <p class="max-w-md mx-auto mt-1 px-4 text-lg leading-6 text-white text-center">Keep your vehicle costs to a minimum with the easiest, most hassle free parts & service tracking app out there!</p>
        <% else %>
          <p class="max-w-md mx-auto mt-1 px-4 text-lg leading-6 text-white text-center">Keep your vehicle costs to a minimum with the easiest, most hassle free parts & service tracking app out there!</p>
        <% end %>
        <a href="#" class="mt-4 inline-flex rounded-lg bg-sky-500 px-4 py-1.5 text-base font-semibold leading-7 text-white shadow-sm ring-1 ring-sky-600 hover:bg-sky-600 hover:ring-sky-600">Get started</a>
      </div>
    </div>
    <div class="bg-white">
      <div class="mx-auto max-w-7xl py-16 px-6 sm:py-32 lg:px-8 lg:py-40">
        <div class="mx-auto max-w-3xl text-center">
          <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">All-in-one platform</h2>
          <p class="mx-auto mt-4 max-w-xl text-lg leading-8 text-gray-600">Quia est qui aut velit exercitationem repudiandae voluptatem facilis. Neque est debitis dolor facilis ab amet.</p>
        </div>
        <dl class="mt-20 grid grid-cols-1 gap-12 sm:grid-cols-2 sm:gap-x-6 lg:grid-cols-4 lg:gap-x-8">
          <div class="relative">
            <dt>
              <!-- Heroicon name: solid/check -->
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="absolute mt-1 h-6 w-6 text-sky-500">
                <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
              </svg>

              <p class="ml-10 text-lg font-semibold leading-8 text-gray-900">Stress Free</p>
            </dt>
            <dd class="mt-2 ml-10 text-base leading-7 text-gray-600">Not sure when your tyres need changing? We track every personalised detail of your car and predict upcoming required work.</dd>
          </div>

          <div class="relative">
            <dt>
              <!-- Heroicon name: solid/check -->
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="absolute mt-1 h-6 w-6 text-sky-500">
                <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
              </svg>

              <p class="ml-10 text-lg font-semibold leading-8 text-gray-900">Save Money</p>
            </dt>
            <dd class="mt-2 ml-10 text-base leading-7 text-gray-600">We keep on top of your maintenance schedule to ensure you won't spend unnecessary heavy garage bills on your vehicle.</dd>
          </div>

          <div class="relative">
            <dt>
              <!-- Heroicon name: solid/check -->
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="absolute mt-1 h-6 w-6 text-sky-500">
                <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
              </svg>

              <p class="ml-10 text-lg font-semibold leading-8 text-gray-900">Stay Safe</p>
            </dt>
            <dd class="mt-2 ml-10 text-base leading-7 text-gray-600">You are in good hands. We use best practice industry standards to ensure your car is fit and ready for the road.</dd>
          </div>


        </dl>
      </div>
    </div>
  </div>
</main>
