<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<button type="button" class="btn btn-primary, color: white;"><%=link_to "My Vehicles", cars_path(@cars)%></button>
<button type="button" class="btn btn-primary, color: white;"><%=link_to "Find A Garage", garages_path(@garages)%></button>
<button type="button" class="btn btn-primary, color: white;"><%=link_to "Log Out", root_path(@root)%></button>
<%# NavBar %>
<%# Header %>
<h1>Servomate</h1>
<h2> Helping locals increas thier car longevitity </h2>
<p>Find the best local mechanics and maintain your service history all in one place</p>
<img src="https://images.unsplash.com/photo-1628577478162-d4d00467c627?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fGNhciUyMG1lY2hhbmljfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="this is a photo of an mechanic">
<button>Sign up</button>

<%# Main content %>
<%# Search bar goes here %>
<p>Locate a search garage in your area.</p>

<%# Search bar ends here! %>

<h3>What we do</h3>

<h4>Locals</h4>
<p>Connect car owners to the best local car garages</p>

<h4>Garages</h4>
<p>Help garges find reliable customers who car maintence</p>

<h4>Service History</h4>
<p>Store Service history that you can access 24/7</p>

<button>Free Sign Up</button>


<%# Footer %>

