.mapboxgl-popup {
  max-width: 200px;
  text-decoration: none;
}

.mapboxgl-popup-content {
  text-align: left;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

.mapboxgl-marker{
  svg{
    display: none;
  }
}

.mapbox-directions-instructions {
  display: none;
}

.mapboxgl-ctrl-geocoder {
    width: 300px !important;
}

.mapboxgl-ctrl-geocoder--icon-search{
  display: none !important;
}
