<h1 class="mb-4 mt-4 d-flex justify-content-start">Service History Index</h1>

  <hr size="2px" width="100%" color="gray">
    <div class="row justify-content-between">
        <div class="col-4">
          <h3 class="mb-4"> My Cars</h3>
        </div>
          <div class="col-4 d-flex justify-content-end">
            <%# link_to "Add Service History", new_car_service_history_path(), class:"btn btn-primary add-list btn-md mb-4" %>
            <%#= link_to "Show Service History", service_history_path, class:"btn btn-primary add-list btn-md mb-4" %>
          </div>
    </div>

    <div id="cars" class="row display-flex flex-wrap-wrap">
      <% @service_histories.each do |h| %>
        <div class="col-md-4 mt-1">
          <div class="card">
                <div class="card-body">
                <%= h.service_date %>
                <%= h.description %>
                </div>
              </div>
            </div>
      <% end %>
    </div>
  </div>

<%# Drop down needs testing  %>
  <%# <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div> %>
