
<%# Nav bar goes here  %>
<div class="continer">
  <h1>Car show page</h1>
  <div class="container">
    <h2>Name of Car</h2>
    <div class="image">
      <img src="https://images.unsplash.com/photo-1506015391300-4802dc74de2e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8amVlcHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=700&q=60" alt=" This is an image of your car">
    </div>

    <div>
      <div class="progress-bar-container">
         <%# Progress bar 1 %>
        <div class="progress-bar-brakes">
          <p>Brakes</p>
          <div class="progress-bar stripes">
            <span class="progress-bar-inner"></span>
          </div>
        </div>

        <%# progress bar 2 %>
        <div class="progress-bar-oil">
            <p> Oil and filter</p>
          <div class="progress-bar stripes animated reverse slower">
            <span class="progress-bar-inner"></span>
          </div>
        </div>

        <%# progress bar 3 %>
        <div class="progress-bar-oil">
            <p>Tyres</p>
          <div class="progress-bar stripes animated reverse slower">
            <span class="progress-bar-inner"></span>
          </div>
        </div>

        <%# progress bar 4 %>
        <div class="progress-bar-oil">
            <p> Spark plugs and inigtion</p>
          <div class="progress-bar stripes animated reverse slower">
            <span class="progress-bar-inner"></span>
          </div>
        </div>
      </div>
    <div>
      <a href="#" class="btn btn-primary">Book a service</a>
    </div>
  </div>
</div>
