<h2>Car Show Page</h2>
<%# Car show page is our dashnboard where users come to view,update cars and navigate to other sections of the page %>

<%# Nav bar goes here  %>

<%# Title of Dashboard  %>
<div class="container">
    <h1>Dashboard </h1>

    <%# Is there a way to grab username when they sign in.  %>
    <h2>Welcome back John</h2>
    <p>What would like to today?</p>
    <button> View Service History</button>
    <button>Make a booking</button>

    <%# Car information  %>
    <h3>Your Cars</h3>

    <%# Car cards %>
    <p>Car Make title</p>
    <p>Car Model</p>
    <p>Build year</p>
    <p>Kms of car</p>
    <button>View Car</button>
    <a href="#">Service History</a>





</div>
