
<%# Nav bar goes here  %>
<div class="continer">
  <div class="contiainer">
    <h1>Car show page</h1>
    <h2>Name of Car</h2>
    <div class="image">
      <img src="https://images.unsplash.com/photo-1506015391300-4802dc74de2e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8amVlcHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=700&q=60" alt=" This is an image of your car">
    </div>

    <div class="container m-4">

      <div class="progress m-4" style="height: 40px;">
        <div class="progress-bar w-75" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"> 75%</div>
      </div>
      <div class="progress m-4" style="height: 40px;">
        <div class="progress-bar w-25" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"> 25%</div>
      </div>
      <div class="progress m-4" style="height: 40px;">
        <div class="progress-bar w-50" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"> 50%</div>
      </div>
      <div class="progress m-4" style="height: 40px;">
        <div class="progress-bar w-100" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"> 100%</div>
      </div>
         <a href="#" class="btn btn-primary">Book a service</a>
    </div>
  </div>
</div>
